<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gameanalytics.godotgameanalytics">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.GameAnalytics"
            android:value="com.gameanalytics.godotgameanalytics.GodotGameAnalytics" />
    </application>
</manifest>